/* Color Primary */
.color-primary{
    color: $color-primary;
}
.color-primary-bg{
    background: $color-primary;
}
.color-Second{
    color: $color-second;
}

.color-Second-bg{
    background: $color-second;
}

.color-yellow{
    color: $color-yellow;
}

.color-yellow-bg{
    color: $color-yellow;
}